{
    "extends": [
        "../../.eslintrc"
    ],
    "parserOptions": {
        "project": ["./tsconfig.json"]
    },
    "settings": {
        "react": {
            "version": "19"
        }
    }
}
